<%-include header%>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://sites.google.com/site/kmlcs310/home/togeojson.js'></script>
<!--<script src = 'https://sites.google.com/site/kmlcs310/home/maps.google.polygon.containsLatLng.js'></script>-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<script>
    console.log('inside script tag');
    var map;
    var markers = [];
    var windows = [];
    var boundaryJSON;
    var region = [], opened_info;
    function initialize() {
        console.log('in initialize.');

        var mapOptions = {
            zoom: 12,
            center: new google.maps.LatLng(49.246292, -123.116226)
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);


        <%for(var i in crimes) {%>
        var contentString<%=i%> = 'Address: <%=crimes[i].address%> ';
        var window<%=i%> = new google.maps.InfoWindow({
            content:contentString<%=i%>
        });
        windows = window<%=i%>;
        var latLng = new google.maps.LatLng(<%=crimes[i].lat%>, <%=crimes[i].long%>);
        var marker<%=i%> = new google.maps.Marker({
            position: latLng,
            title: "<%=crimes[i].address%>"
        });


            markers.push(marker<%=i%>);

        google.maps.event.addListener(marker<%=i%>, 'click', function() {

            window<%=i%>.open(map,marker<%=i%>);
            setTimeout(function () {
                window<%=i%>.close();
            }, 2000);
        });
        google.maps.event.addListener(map, "click", function(event) {
            window<%=i%>.close();
        });

        <%}%>



        $.ajax('./map/boundary').done(function(xml) {

            boundaryJSON = toGeoJSON.kml(xml);

            console.log(boundaryJSON);

        for( j =0;j< boundaryJSON.features.length; j++) {
            var polygonPaths = [];
            for (index = 0; index < boundaryJSON.features[j].geometry.coordinates[0].length; index++) {

                var latlng = boundaryJSON.features[j].geometry.coordinates[0][index];

                var lat = latlng[1];

                var lng = latlng[0];

                polygonPaths[index] = new google.maps.LatLng(lat, lng);
            }


           region[j] = new google.maps.Polygon({
                paths: polygonPaths,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.05,
                title: boundaryJSON.features[j].properties.name
            });
           region[j].infowindow = new google.maps.InfoWindow(
                    {
                        content: 'Region: '+boundaryJSON.features[j].properties.name
                    });
           region[j].setMap(map);
            opened_info = new google.maps.InfoWindow();
            google.maps.event.addListener(region[j], 'click', function (event) {


                opened_info.close();
                this.infowindow.setPosition(event.latLng);
                this.infowindow.open(map);
                opened_info = this.infowindow;
                setTimeout(function () {
                    opened_info.close();
                }, 4000);

            });
            google.maps.event.addListener(map, 'click', function (event) {
                opened_info.close();
            });

        }


//            var isWithinPolygon = region.containsLatLng(49.256194, -123.236847);
//
//            if(isWithinPolygon) console.log('Error!');
//            else console.log('correct, the address is not within the polygon');
//
//            isWithinPolygon = region.containsLatLng(49.248715, -123.161274);
//            if(!isWithinPolygon) console.log('Error');
//            else console.log('Yes the adDress is in ARBUTUS RIDGE');


        });
    }

    // Sets the map on all markers in the array.
    function setMarkersOnMap(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    // Removes the markers from the map, but keeps them in the array.
    function clearAllMarkers() {
        setMarkersOnMap(null);
    }

    // Shows any markers currently in the array.
    function showAllMarkers() {
        setMarkersOnMap(map);
    }



    //initialize();
    console.log("in map.js");
    google.maps.event.addDomListener(window, 'load', initialize);



</script>


<div id="panel">
    <input onclick="clearAllMarkers();" type=button value="Hide Markers">
    <input onclick="showAllMarkers();" type=button value="Show All Markers">
</div>

<div align="center">
    <select>
        <option value="arbutus">Arbutus</option>
        <option value="downtown">Downtown</option>
        <option value="dunbar">Dunbar</option>
        <option value="fairview">Fairview</option>
        <option value="fraserview">Fraserview</option>
        <option value="grandview">Grandview</option>
        <option value="hastings">Hastings</option>
        <option value="kensington">Kensington</option>
        <option value="kerrisdale">Kerrisdale</option>
        <option value="killarney">Killarney</option>
        <option value="kitsilano">Kitsilano</option>
        <option value="marpole">Marpole</option>
        <option value="mountpleasant">Mount Pleasant</option>
        <option value="oakridge">Oakridge</option>
        <option value="pointgrey">Point Grey</option>
        <option value="renfrewcollingwood">Renfrew-Collingwood</option>
        <option value="rileypark">Riley Park</option>
        <option value="shaugnessy">Shaugnessy</option>
        <option value="sunrise">Sunrise</option>
        <option value="sunset">Sunset</option>
        <option value="westend">West End</option>
    </select>
</div>
<br>
<div id="map-canvas"></div>
<%-include footer%>


