<%-include header%>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<script>
    console.log('inside script tag');
    var map;

    function initialize() {
        console.log('in initialize.');

        var mapOptions = {
            zoom: 12,
            center: new google.maps.LatLng(49.246292, -123.116226)
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
        var windows = [];

        <%for(var i in crimes){%>

            var contentString<%=i%> = 'Address: <%=crimes[i].address%> ';

            var window<%=i%> = new google.maps.InfoWindow({
                content:contentString<%=i%>
            });
            var latLng = new google.maps.LatLng(<%=crimes[i].lat%>, <%=crimes[i].long%>);
            var marker<%=i%> = new google.maps.Marker({
            position: latLng,
            map: map,
            title:"crime"
            });

        google.maps.event.addListener(marker<%=i%>, 'click', function() {
            window<%=i%>.open(map,marker<%=i%>);
        });
        google.maps.event.addListener(map, "click", function(event) {
            window<%=i%>.close();
        });

        <%}%>

        var ctaLayer = new google.maps.KmlLayer({
            url: 'http://data.vancouver.ca/download/kml/cov_localareas.kml'
        });
        ctaLayer.setMap(map);
    }

    //initialize();
    google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div id="map-canvas"></div>
<%-include footer%>
